<div class="add-column-container">
    <form novalidate [formGroup]="addColumnGroup">
        <div class="form-container">
            <div class="input-container">
                <label for="columnName">Column name</label>
                <input
                    class="form-control input"
                    id="columnName"
                    formControlName="column"
                    type="text"
                />
            </div>
            <div class="input-container">
                <label for="defaultValue">Default value</label>
                <input
                    class="form-control input"
                    id="defaultValue"
                    formControlName="defaultValue"
                    type="number"
                />
            </div>
        </div>
        <div class="button-container">
            <button
                class="button btn btn-secondary"
                (click)="submit()"
                type="submit"
                [disabled]="addColumnGroup.invalid"
            >
                Add
            </button>
        </div>
    </form>
</div>
