<div class="table-container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <th
                scope="col"
                *ngFor="
                    let header of (tableContent | async).headers;
                    let columnIndex = index
                "
            >
                <div class="header-container">
                    {{ header }}
                    <fa-icon
                        (click)="actionHandler('removeColumn', columnIndex)"
                        *ngIf="(tableContent | async).headers.length > 1"
                        class="close-icon text-danger"
                        [icon]="faTimes"
                    ></fa-icon>
                </div>
            </th>
        </thead>
        <tbody>
            <tr
                scope="row"
                *ngFor="
                    let row of (tableContent | async).data;
                    let rowIndex = index
                "
            >
                <td *ngFor="let cell of row; let last = last">
                    <div class="cell-container">
                        {{ cell }}
                        <fa-icon
                            (click)="actionHandler('removeRow', rowIndex)"
                            *ngIf="last"
                            class="close-icon text-danger"
                            [icon]="faTimes"
                        ></fa-icon>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
